@*@model System.Data.DataTable*@
@model System.Data.DataTable
@if (Model != null)
{
    for (int i = 0; i < Model.Rows.Count; i++)
    {<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="javascript:void(0)">HOME</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Model.Rows[i][1]</a>
                    </li>

                </ul>

            </div>


            <div class="col-md-4" style="float:left">

                <div style="list-style-type:none">
                    <span><a href="/Breadcrumb/Edit/1"><img src="/Content/Common/images/edit.png" height="20" width="20"></a></span><div>

                    </div>
                </div>
            </div>
        </div>        
        
        
        
        
        @*<div class="row">
            <div class="col">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="javascript:void(0)">HOME</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Model.Rows[i][1]</a>
                    </li>
                    <li style="list-style-type:none
"><span><a href="@Url.Action("Edit","Banner", new {@id=Model.Rows[i][0]})"><img src="~/Content/Common/images/edit.png" height="20" width="20"></a></span></li>
                </ul>
                
            </div>
           

        </div>*@
    </div>
   
</div>
   }
}
